<% layout('layouts/boilerplate') %>

<h1 class="text-center">Login</h1>
<form action="/Login" method="POST" class="col-6 offset-3 mt-4">
  <div class="mb-3">
    <label for="username" class="form-label">Username or Email</label>
    <input type="text" class="form-control" name="username" id="username" required>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
